<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Anthony Nolletti's development and teaching portfolio"
    />
    <meta name="author" content="Anthony Nolletti" />
    <title>Anthony Nolletti</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Fontawesome Icons -->
    <script
      async
      src="https://kit.fontawesome.com/083c33e49e.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/styles2.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand" href="#page-top">Anthony Nolletti</a>
        <button
          class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav me-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio"
                >Portfolio</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about"
                >About</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center">
      <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img
          class="masthead-avatar mb-5"
          src="assets/img/portfolio/headshot-colour.png"
          alt="Anthony Nolletti Headshot"
        />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">Anthony Nolletti</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">
          Educator - Jr Educational App Developer - Learner
        </p>
      </div>
    </header>
    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="portfolio">
      <div class="container">
        <!-- Portfolio Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          Portfolio
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <h5 class="text-center pb-4">
          All apps are bilingual (French/English) and include teacher resources
          and student activities.
        </h5>
        <!-- Portfolio Grid Items-->
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <!-- Input Output Machine Card -->
          <div class="col">
            <div class="card">
              <a
                href="https://anolletti.github.io/input-output/"
                target="_blank"
                class="text-center"
              >
                <img
                  src="https://anolletti.github.io/input-output/images/robot.png"
                  class="img"
                  alt="Input Output Machine"
              /></a>
              <div class="card-body">
                <h5 class="card-title text-center">
                  <a
                    href="https://anolletti.github.io/input-output/"
                    target="_blank"
                    class="text-center"
                    >Input-Output Machine</a
                  >
                </h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Topics : </b> Linear relations, input-output rules, table
                  of values, patterns, graphing
                </li>
                <li class="list-group-item">
                  <b>Curriculum : </b>Math 6, Math 7, Math 8, Math 9, NRF 10
                </li>
                <li class="list-group-item">
                  <b>Grade Level : </b>6, 7, 8, 9, 10
                </li>
                <li class="list-group-item">
                  <b>Skills : </b>HTML5, JavaScript, CSS
                </li>
              </ul>
            </div>
          </div>
          <!-- My Income Taxes Card -->
          <div class="col">
            <div class="card">
              <a
                href="https://anolletti.github.io/my-income-taxes/"
                target="_blank"
                class="text-center"
              >
                <img
                  src="https://anolletti.github.io/my-income-taxes/images/main-icon.png"
                  class="img"
                  alt="My Income Taxes"
              /></a>
              <div class="card-body">
                <a
                  href="https://anolletti.github.io/my-income-taxes/"
                  target="_blank"
                  ><h5 class="card-title text-center">My Income Taxes</h5></a
                >
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Topics : </b> Gross, taxable and net Income,
                  provincial/federal taxes, CPP, EI, tax brackets
                </li>
                <li class="list-group-item"><b>Curriculum : </b>GMF 10</li>
                <li class="list-group-item">
                  <b>Grade Level : </b>8, 9, 10, 11, 12
                </li>
                <li class="list-group-item">
                  <b>Skills : </b>HTML5, JavaScript, CSS
                </li>
              </ul>
            </div>
          </div>

          <!-- Investment Calculator -->
          <div class="col">
            <div class="card">
              <a
                href="https://anolletti.github.io/compound-interest/"
                target="_blank"
                class="text-center"
              >
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Calculator_icon.svg"
                  class="img"
                  alt="Investment Calculator"
                />
              </a>
              <div class="card-body">
                <a
                  href="https://anolletti.github.io/compound-interest/"
                  target="_blank"
                  ><h5 class="card-title text-center">
                    Investment Calculator
                  </h5></a
                >
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Topics : </b> Calculating compound interest (algebraic,
                  graphing, table of values)
                </li>
                <li class="list-group-item">
                  <b>Curriculum : </b>GMF 10, NRF 10, Foundations 120,
                  Pre-Calculus 120
                </li>
                <li class="list-group-item">
                  <b>Grade Level : </b>8, 9, 10, 11, 12
                </li>
                <li class="list-group-item">
                  <b>Skills : </b>HTML5, JavaScript, CSS
                </li>
              </ul>
            </div>
          </div>
          <!-- Number Facts -->
          <div class="col">
            <div class="card">
              <a
                href="https://stately-yeot-62cc3f.netlify.app/"
                target="_blank"
                class="text-center"
              >
                <img
                  src="assets/img/portfolio/number-blocks.png"
                  class="img"
                  alt="Number Facts"
                />
              </a>
              <div class="card-body">
                <a
                  href="https://stately-yeot-62cc3f.netlify.app/"
                  target="_blank"
                >
                  <h5 class="card-title text-center">Fun Facts with Numbers</h5>
                </a>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Topics : </b> Fun class starter to pique students' interest
                  about numbers.
                </li>
                <li class="list-group-item"><b>Curriculum : </b>Math 6</li>
                <li class="list-group-item">
                  <b>Grade Level : </b>6, 7, 8, 9, 10, 11, 12
                </li>
                <li class="list-group-item">
                  <b>Skills : </b>HTML5, JavaScript, CSS
                </li>
              </ul>
            </div>
          </div>
          <!-- My First Car Loan -->
          <div class="col">
            <div class="card">
              <a
                href="https://anolletti.github.io/my-first-car/"
                target="_blank"
                class="text-center"
              >
                <img
                  src="assets/img/portfolio/car.png"
                  class="img"
                  alt="My First Car Loan"
                />
              </a>
              <div class="card-body">
                <a
                  href="https://anolletti.github.io/my-first-car/"
                  target="_blank"
                >
                  <h5 class="card-title text-center">My First Car Loan</h5>
                </a>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Topics : </b> Compound interest, loans, financial
                  responsibility, amortization, new vs. used cars
                </li>
                <li class="list-group-item">
                  <b>Curriculum : </b>GMF 10, Foundations of Mathematics 110,
                  Workplace Math 11
                </li>
                <li class="list-group-item"><b>Grade Level : </b>10, 11, 12</li>
                <li class="list-group-item">
                  <b>Skills : </b>HTML5, JavaScript, CSS
                </li>
              </ul>
            </div>
          </div>
          <!-- Algebra Tiles -->
          <div class="col">
            <div class="card">
              <a
                href="https://anolletti.github.io/algebra-tiles/"
                target="_blank"
                class="text-center"
              >
                <img
                  src="https://anolletti.github.io/algebra-tiles/images/scale.png"
                  class="img"
                  alt="Balancing Equation with Algebra Tiles"
                />
              </a>
              <div class="card-body">
                <a
                  href="https://anolletti.github.io/algebra-tiles/"
                  target="_blank"
                >
                  <h5 class="card-title text-center">
                    Building & Solving Equations with Algebra Tiles
                  </h5>
                </a>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Topics : </b> Equality, Building Equations,
                  Solving/Balancing Equations
                </li>
                <li class="list-group-item">
                  <b>Curriculum : </b>Math 5, Math 6, Math 7, Math 8, Math 9
                </li>
                <li class="list-group-item"><b>Grade Level : </b>6, 7, 8, 9</li>
                <li class="list-group-item">
                  <b>Skills : </b>HTML5, JavaScript, CSS
                </li>
              </ul>
            </div>
          </div>
          <!-- My Language Profile -->
          <div class="col">
            <div class="card">
              <a
                href="http://language-profile.azurewebsites.net/"
                target="_blank"
                class="text-center"
              >
                <img
                  src="http://language-profile.azurewebsites.net/static/images/main.png"
                  class="img"
                  alt="My Language Profile"
                />
              </a>
              <div class="card-body">
                <a
                  href="https://www.mylanguageprofile.ca/"
                  target="_blank"
                >
                  <h5 class="card-title text-center">My Language Profile</h5>
                </a>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <b>Topics : </b> EAL, CEFR Goals, Self-Assessment, Motivation
                </li>
                <li class="list-group-item"><b>Curriculum : </b>EAL, FSL/li>
                <li class="list-group-item"><b>Grade Level : </b>3 - 12</li>
              </ul>
              <li class="list-group-item">
                <b>Skills : </b>HTML5, ReactJS, CSS, Python-Flask, SQL, MS Azure
              </li>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
      <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">
          About
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
          <div class="col-lg-4 ms-auto">
            <p class="lead">
              My name is Anthony. I've been a New Brunswick educator for over a
              decade. Frustrated with the lack of free and bilingual
              teaching/learning applications available to teachers, I decided to
              take action.
            </p>
          </div>
          <div class="col-lg-4 me-auto">
            <p class="lead">
              I've created apps that include student and teacher activities,
              such as exercises and lesson plans. I wish to continue providing
              online resources for teachers, enhancing learning and reducing
              planning during the busy school day.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Contact Section -->
    <section class="page-section" id="contact">
      <div class="container">
        <!-- Contact Section Heading-->
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          Contact Me
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>

        <h1 class="text-center">
          <a href="mailto:anthonynolletti@gmail.com">
            <i class="fa-regular fa-envelope fa-2x"></i>
          </a>
        </h1>
      </div>
    </section>
    <!-- <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-xs-12 col-md-6">
            <form method="POST" action="/">
              {{ form.csrf_token }}
              <div class="mb-3">
                {{ form.name.label(class="form-label") }} {{
                form.name(class="form-control") }}
              </div>
              {% if form.name.errors %}
              <ul class="errors">
                {% for error in form.name.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}

              <div class="mb-3">
                {{ form.email.label(class="form-label") }} {{
                form.email(class="form-control") }}
              </div>
              {% if form.email.errors %}
              <ul class="errors">
                {% for error in form.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %} -->

    <!-- message field -->
    <!-- <div class="mb-3">
                {{ form.message.label(class="form-label") }} {{
                form.message(rows=2, class="form-control") }} {% if
                form.message.errors %}
              </div>
              <ul class="errors">
                {% for error in form.message.errors %}
                <li>{{ error }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              <div class="mb-3">
                <input
                  type="submit"
                  value="Send"
                  class="btn btn-secondary mt-3"
                />
              </div> -->
    <!-- recaptcha field -->

    <!-- <div class="mb-3">{{ form.recaptcha }}</div>
              <div id="recaptchaError">
                {% if scroll %}

                <script>
                  document.getElementById("{{ scroll }}").scrollIntoView();
                </script>

                {% for error in form.recaptcha.errors %}
                <span>{{ error }}</span>
                {% endfor %} {% endif %}
              </div>
            </form>
          </div>
        </div>
      </div>
    </section> -->

    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Anthony Nolletti {{year}}</small>
      </div>
    </div>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
